* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --main-bg-color: #1e1e1d;
  --button: darkcyan;
  --black: #f5f5f6;
  --white: rgb(213, 108, 108);
  --txt: #b3acac;
}
.box {
  height: 20px;
  width: 20px;
  background-color: var(--button);
  cursor: pointer;
  margin-top: 1px;
  padding-top: 1px;
}
.main {
  height: 100vh;
  background-color: var(--main-bg-color);
  padding: 3%;
  margin-top: 0;
}
.container2 {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.boxes {
  height: 150px;
  width: 150px;
  background-color: var(--button);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
  font-size: 150px;
  font-family: "Permanent Marker", cursive;
  /* visibility: hidden; */
}
.wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
#playText {
  padding: 35px;
  font-size: 40px;
  color: var(--button);
}
#restart {
  width: 150px;
  height: 40px;
  background-color: #3178c6;
  color: aliceblue;
  cursor: pointer;
  border-radius: 12px;
  border: #3178c6;
}
.replay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p1 {
  color: var(--black);
}
.box1 {
  background-color: #ff4659 !important;
}
.box2 {
  background-color: #4665ff !important;
}
.box3 {
  background-color: aqua !important;
}
.box4 {
  background-color: brown !important;
}
.box5 {
  background-color: darkcyan !important;
}
.p1 {
  font-size: 35px;
}